.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

h1 {
  font-size: 42px;
  color: #00e1ae;
}

.AppContainer {
  padding: 40px;
  width: 400px;
  background-color: #ffffff;
  min-height: 140px;
}

.FormWrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
.staticText {
  padding: 10px;
  border: 1px #000 dashed;
  font-size: 16px;
  flex: 1;
  width: 100%;
}

.inputWrapper {
  padding: 0px;
  border: 0;
  flex: 1;
}

.inputField {
  width: 100%;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.inputField:focus {
  border: 1px #000 solid;
  outline: 0;
}

.FormStatus {
  width: 40px;
  height: 40px;
  margin-left: 30px;
}

.message {
  font-size: 16px;
  margin: 40px 0 0;
  width: 100%;
  text-align: center;
}

.successText {
  color: green;
}
.errorText {
  color: red;
}
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

.success {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px green;
}

.success::before {
  position: absolute;
  left: 3px;
  top: 50%;
  height: 30%;
  width: 3px;
  background-color: green;
  content: '';
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.success::after {
  position: absolute;
  left: 5px;
  bottom: 5px;
  height: 3px;
  width: 25px;
  background-color: green;
  content: '';
  transform: translateX(10px) rotate(-55deg);
  transform-origin: left bottom;
}

.error {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 0 2px red;
}

.error:before,
.error:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 20px;
  left: 15px;
  top: 8px;
  background: red;
}
.error::before {
  transform: skew(28deg);
}
.error::after {
  transform: skew(-28deg);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
